/* ==========================================================================
   #LIST-BARE
   ========================================================================== */

/**
 * Strip list-like appearance from lists by removing their bullets, and any
 * indentation.
 *
 * Note: Declaring the item-class might not be necessary everywhere but
 * is for example in <dl> lists for the <dd> childs.
 */

.o-divider {
  width: 100%;
  border-bottom: 1px solid $color-separador;
  margin-bottom: $ssg-global-spacing-unit / 2;
}
