/* ==========================================================================
   #TABS
   ========================================================================== */

/**
 * Tabs
 * 
 *
 */

 .o-tabs{
   &__link{
    height: 100%;
    cursor: pointer;
    &--activo{
      border-bottom: 2px solid $color-primario;
    }
   }
 }