// COLORES DE TEXTOS Y FONDOS
.u-texto-blanco {
  color: $color-blanco !important;
}
.u-texto-negro {
  color: $color-negro !important;
}
.u-texto-primario {
  color: $color-primario !important;
}
.u-texto-alerta {
  color: $color-alerta !important;
}
.u-texto-error {
  color: $color-error !important;
}
.u-texto-ok {
  color: $color-ok !important;
}
.u-texto-info {
  color: $color-info !important;
}
.u-texto-secundario {
  color: $color-secundario !important;
}
.u-texto-disable {
  color: $color-deshabilitado !important;
}
.u-texto-alt {
  color: $color-texto-alt !important;
}
