// COLORES DE TEXTOS Y FONDOS
.u-bg-blanco {
  background-color: $color-blanco !important;
}
.u-bg-negro {
  background-color: $color-negro !important;
}
.u-bg-primario {
  background-color: $color-primario !important;
}
.u-bg-alerta {
  background-color: $color-alerta !important;
}
.u-bg-error {
  background-color: $color-error !important;
}
.u-bg-ok {
  background-color: $color-ok !important;
}
.u-bg-info {
  background-color: $color-info !important;
}
.u-bg-secundario {
  background-color: $color-secundario !important;
}
.u-bg-alt {
  background-color: $color-alternativo !important;
}
